<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testpack.Listeners_demo"/>
      <class name="Testpack.DataProvider_demo"/>
      <class name="Testpack.Night1"/>
      <class name="Testpack.Night2"/>
      <class name="Testpack.Day2"/>
      <class name="Testpack.Day1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
